{% extends 'base.html.twig' %}

{% set i = 0 %}

{% block title %}Factures{% endblock %}
{% block pageTitle %}Liste des Factures{% endblock %}

{% block stylesheets %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('js/dataTable.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="vehiculeTable" class="table table-hover product_item_list c_table theme-color">
                        <thead>
                        <tr style="text-align: center">
                            <th>N° SUIVI</th>
                            <th>MONTANT</th>
                            <th>Date</th>
                            <th>Code</th>
                            <th colspan="2">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fact in allFACT %}
                            {% if fact.dType == "FACT" %}
                                {% set i = i+1 %}
                                <tr style="text-align: center">
                                    <td><strong>{{ fact.dPathLaPoste }}</strong></td>
                                    <td><strong>{{ fact.dMontant }} €</strong></td>
                                    <td><strong>{{ fact.dDate|date('d/m/Y') }}</strong></td>
                                    <td><strong>{{ fact.dType }}</strong></td>
                                    <td>
                                        <a target="_blank" href="http://ftp.ribegroupe.com/Appli/Gestion_PDA/Documents/FACT/{{ fact.dPath }}" class="btn btn-danger btn-round" style="width: 100%; font-size: 15px;">VOIR LA FACTURE</a>
                                    </td>
                                    <td>
                                        <a target="_blank" href="https://www.laposte.fr/outils/suivre-vos-envois?code={{ fact.dPathLaPoste }}" class="btn btn-warning btn-round" style="width: 100%; font-size: 15px;">SUIVI COLIS</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <thead>
                        <tr>
                            <th colspan="9">TOTAL : {{ i }} Facturess</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}